.quizz__container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz__logo {
    margin: 10px;
}

.quizz__logo>h3 {
    margin: 30px 0;
    text-align: center;
}

.quizz__questions {
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FCCB00;
    font-size: 25px;
}

.quizz__questions > h3 {
    color: #E44423;
}

.quizz__options {
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.btn-option {
    background-color: rgb(119, 187, 71, 0.8);
    width: 100%;
    padding: 20px 0;
    color: white;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #77BB47;
    border-radius: 8px;
}

.btn-option:hover {
    cursor: pointer;
    background-color: #77BB47;
    scale: 1.02;
}

.quizz__results {
    background-color: rgb(205, 223, 141, 0.7);
    padding: 20px 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.quizz__results>h2 {
    color: #E44423;
    font-weight: bold;
    margin: 10px 0;
 }

 .quizz__results>img {
    max-height: 250px;
 }