<div class="quizz__container">
    <div class="quizz__logo">
        <img src="../../../assets/images/logo.png" alt="logo-buzzfeed">
        <h3>
            PERGUNTA TEMA
        </h3>
    </div>
    <div class="quizz__questions">
        <h3> PERGUNTAS </h3>
    </div>
    <div class="quizz__options">
        <button class="btn-option">
            OPÇÃO
        </button>
        <button class="btn-option">
            OPÇÃO
        </button>
        
        <button class="btn-option">
            OPÇÃO
        </button>
        
        <button class="btn-option">
            OPÇÃO
        </button>
        
    </div>
    <div class="quizz__results">
        <h1>
            SEU RESULTADO É: 
        </h1>
        <p>
            RESULTADO
        </p>
    </div>
</div>
